<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Aliyablush">
        <activity
            android:name=".pertemuan_2.MainActivity"
            android:exported="false" />
        <!-- LOGIN (HALAMAN AWAL) -->
        <activity
            android:name=".pertemuan_3.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- DASHBOARD -->
        <activity android:name=".pertemuan_4.DashboardActivity" /> <!-- custom -->
        <activity android:name=".pertemuan_4.Custom1Activity" />
        <activity android:name=".pertemuan_4.Custom2Activity" />
    </application>

</manifest>